:root {
    --color: #FFF8F1;
    --background: #A5B6CC;

    --body-copy: 1rem;
    --font: monospace;

    --vertical: 4rem;
}

body {
    font-family: var(--font);
    color: var(--color);
    background-color: var(--background);
    font-size: var(--body-copy);
    block-size: 100vh;
    align-items: center;
}

main {
    padding-inline: var(--gutter);
    padding-block: var(--vertical);
}

h1 {
    /* font-weight: 200; */
    text-align: center;
}


ul {
    padding-inline: var(--gutter);
    gap: var(--gutter);
}




hgroup, footer {
    /* color: var(--background);
    background-color: var(--color); */
    padding-inline: var(--gutter);
    padding-block: var(--vertical);
}