:root {
    --white: #FFF8F1;
    --blue: #A5B6CC;
    --navy: #1D2631;
    --black: #0a0a0a;

    --body-copy: 1rem;
    /* --heading-copy: calc(var(--body-copy) * 3); */
    --font: monospace;

    --gutter: 2.5rem;
    --vertical: 4rem;
    --sidebar: 15rem;
    --gap: 1rem;
}

body {
    font-family: var(--font);
    color: var(--white);
    background-color: var(--navy);
    font-size: var(--body-copy);
    min-height: 100vh;
    display: grid;
    grid-template-columns: var(--sidebar) 1fr;
}

/* side comment, I totally made this harder for myself by 1) doing this today and 2) changing my design so many times...trenton trenton trenton */
/* however, deleting everything INSTEAD of commenting out old stuff (which I normally did) is so much easier because I am not looking at an overwhelming amount of code */



/* SIDEBAR */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--gutter);
    border-right: 1px solid var(--blue);

    .sidebar-name a{
        font-size: var(--body-copy);
        font-family: var(--font);
        color: var(--white);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .sidebar-nav {
        display: flex;
        flex-direction: column;
        gap: var(--gap);

        a {
            font-size: var(--body-copy);
            font-family: var(--font);
            color: var(--white);
            opacity: 0.5;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                opacity: 1;
            }
        }
    }
}



main {
    padding: var(--gutter);
    display: flex;
    flex-direction: column;
    gap: var(--vertical);
    position: relative;
}



/* HEADER INFORMATION */
.header {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    max-width: 50%;

    .header-title {
        font-size: calc(var(--body-copy) * 0.75);
        letter-spacing: 0.15em;
        opacity: 0.5;
    }

    h1 {
        font-size: calc(var(--body-copy) * 3);
    }

    .header-info {
        font-size: calc(var(--body-copy) * 0.75);
        opacity: 0.5;
        line-height: 1.5;
    }
}



/* INDEX */
.index-text {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) * 0.5);
    position: absolute; 
    /* parent is relative */
    text-align: right;
    right: var(--gutter);
    top: var(--gutter);

    p {
        font-size: calc(var(--body-copy) * 0.75);
        opacity: 0.5;
        letter-spacing: 0.15em;
    }
}





/* PROJECTS */
.projects {
    display: flex;
    flex-direction: column;

    a {
        display: grid;
        grid-template-columns: 1fr auto auto;
        align-items: center;
        gap: calc(var(--gap) * 2);
        border-top: 1px solid var(--blue);
        padding: calc(var(--gap) * 3) 0;
    }
}

/* im not sure if this will work, but let me try it down below... */
.projects a:hover .project-title, .projects a:hover .project-info, .projects a:hover .arrow {
    opacity: 0.5;
}